{% extends 'base.html.twig' %}
{% import 'macros/cart-item.html.twig' as i %}

{% block title %}Shop Cart{% endblock %}

{% block main %}
<div class="nk-main">
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">
            <li><a href="{{ path('app_home') }}">Home</a></li>
            <li><span class="fa fa-angle-right"></span></li>
            <li><a href="{{ path('app_catalog') }}">Store</a></li>
            <li><span class="fa fa-angle-right"></span></li>
            <li><span>Cart</span></li>
        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
    <div class="container">
        <div class="nk-store nk-store-cart">
            <div class="table-responsive">
                <!-- START: Products in Cart -->
                <table class="table nk-store-cart-products">
                    {% if app.session.get('cartItems') is not empty %}
                        <tbody>
                            {% for item in app.session.get('cartItems') %}
                            {{ i.print_cart_item(item['game'],item['quantity']) }}
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody><tr><td>no items added yet</td></tr></tbody>
                    {% endif %}
                </table>
                <!-- END: Products in Cart -->
            </div>
            <div class="nk-gap-1"></div>
            <div class="clearfix"></div>
            <div class="nk-gap-2"></div>
            <div class="row vertical-gap">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    {% include 'cart/totals/index.html.twig' %}
                </div>
            </div>
            <div class="nk-gap-2"></div>
            <a class="nk-btn nk-btn-rounded nk-btn-color-main-1 float-right" href="">Proceed to Checkout</a>
            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        setTimeout(function(){
           $(document).ready(function(){
            $('.nk-form input[type="number"]').on("change",function (){
                let item = $(this).data('id-item');
                $('#frm-update-quantity-' + item).submit();
            });
        })
        },200);

    </script>
{% endblock %}