<form id="frm-filter" action="{{ path('app_catalog', { page : 1 }) }}" class="nk-form" novalidate="novalidate">
<div class="row vertical-gap">
    <div class="col-lg-8">
        <div class="row vertical-gap">
            <div class="col-md-4">
                <select id="apply-filter-platform" class="form-control" name="filter[platform]">
                    {% set platformValue = app.request.get('filter')['platform'] ?? "" %}
                    {% if platformValue == "" %}
                        <option value="" disabled selected>Select Platform</option>
                    {% endif %}
                    <option value="ps4" {% if platformValue == 'ps4' %}selected{% endif %}>PS4</option>
                    <option value="xbox" {% if platformValue == 'xbox' %}selected{% endif %}>Xbox 1</option>
                    <option value="pc" {% if platformValue == 'pc' %}selected{% endif %}>PC</option>
                </select>
            </div>
            <div class="col-md-8">
                <div class="nk-input-slider-inline">
                    <div class="nk-input-slider">
                        <div class="nk-input-slider-content text-white"> PRICE: <strong class="text-main-1">€ <span class="nk-input-slider-value-0"></span></strong> - <strong class="text-main-1">€ <span class="nk-input-slider-value-1"></span></strong>
                        </div>
                        <div class="nk-input-slider-input">
                            {% set intervalPrice = app.request.get('filter')['price'] ?? "0,120" %}
                            <input type="text" name="filter[price]" data-slider-min="0" data-slider-max="120" data-slider-step="1" data-slider-value="[{{ intervalPrice }}]" data-slider-tooltip="hide">
                        </div>
                    </div>
                    <div>
                        <a id="apply-filter-price" href="#" class="nk-btn nk-btn-rounded nk-btn-color-white">Apply</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="input-group">
            <input id="apply-filter-description" type="text" class="form-control" placeholder="Type something..." name="filter[description]">
            <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
        </div>
    </div>
</div>
</form>