{% macro print_comment(comment) %}
<div class="nk-comment">
    <div class="nk-comment-meta">
        <img src="assets/images/avatar-2.jpg" alt="Witch Murder" class="rounded-circle" width="35"> by <a href="https://nkdev.info">Witch Murder</a> in 20 September, 2018 <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right">Reply</a>
    </div>
    <div class="nk-comment-text">
        <p>This sounded nonsense to Alice, so she said nothing, but set off at once toward the Red Queen. To her surprise, she lost sight of her in a moment, and found herself walking in at the front-door again.</p>
    </div>
    <!-- START: Comment -->
    <div class="nk-comment">
        <div class="nk-comment-meta">
            <img src="assets/images/avatar-1.jpg" alt="Hitman" class="rounded-circle" width="35"> by <a href="https://nkdev.info">Hitman</a> in 20 September, 2018 <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right">Reply</a>
        </div>
        <div class="nk-comment-text">
            <p>To her surprise, she lost sight of her in a moment, and found herself walking in at the front-door again.</p>
        </div>
    </div>
{% endmacron %}