<!-- START: Tab Description -->
<div role="tabpanel" class="tab-pane fade show active" id="tab-description">
    <div class="nk-gap"></div>
    <strong class="text-white">Release Date: {{ game.createdAt|date }}</strong>
    <div class="nk-gap"></div>
    <p>{{ game.description|raw }}</p>
    <div class="nk-product-info-row row vertical-gap">
        <div class="col-md-5">
            <div class="nk-product-pegi">
                <div class="nk-gap"></div>
                <img src="{{ asset('template/assets/images/pegi-icon.jpg') }}" alt="pegi">
                <div class="nk-product-pegi-cont">
                    <strong class="text-white">Pegi Rating:</strong>
                    <div class="nk-gap"></div> Suitable for people aged 12 and over.
                </div>
                <div class="nk-gap"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nk-gap"></div>
            <strong class="text-white">Genre:</strong>
            <div class="nk-gap"></div> TBD <div class="nk-gap"></div>
        </div>
        <div class="col-md-4">
            <div class="nk-gap"></div>
            <strong class="text-white">Customer Rating:</strong>
            <div class="nk-gap"></div>
            <span class="nk-product-rating">
                    <span class="nk-product-rating-front" style="width: {{ game.rating }}%;">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                    <span class="nk-product-rating-back">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </span>
                </span>
            <div class="nk-gap"></div>
        </div>
    </div>
</div>
<!-- END: Tab Description -->