<form action="#" class="nk-form" >
    <div class="row sm-gap vertical-gap">
        <div class="col-md-4">
            <input type="email" class="form-control required" name="email" placeholder="Email *">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control required" name="name" placeholder="Name *">
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" name="name" placeholder="Website">
        </div>
    </div>
    <div class="nk-gap-1"></div>
    <textarea class="form-control required" name="message" rows="5" placeholder="Message *" aria-required="true"></textarea>
    <div class="nk-gap-1"></div>
    <div class="nk-form-response-success"></div>
    <div class="nk-form-response-error"></div>
    <button class="nk-btn nk-btn-rounded nk-btn-color-main-1">Post Comment</button>
</form>