{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block css %}{% endblock %}
{% block scripts %}{% endblock %}

{% block breadcrumbs %}
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li><span class="fa fa-angle-right"></span></li>
            <li><a href="store.html">User</a></li>
            <li><span class="fa fa-angle-right"></span></li>
            <li><span>Reset password</span></li>
        </ul>
    </div>
    <div class="nk-gap-1"></div>
{% endblock %}

{% block main %}

    <!-- END: Breadcrumbs -->
    <div class="container">

        {% for flash_message in app.session.flashbag.get('success') %}
            {% include 'home/ok.html.twig' with { message: flash_message }%}
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('fail') %}
            {% include 'home/ko.html.twig' with { message: flash_message }%}
        {% endfor %}

        <!-- START: Categories -->
        <div class="row vertical-gap">
            <div class="col-lg-12">
                {{ include('user/reset/_form.html.twig', {'button_label': 'Reset'}) }}
            </div>
        </div>
    </div>
    <div class="nk-gap-2"></div>


{% endblock %}