{% extends 'base.html.twig' %}
{% import 'macros/game.html.twig' as g %}

{% block categories %}
    <!-- START: Categories -->
    {% include 'platform.html.twig' %}
    <!-- END: Categories -->
{% endblock %}

{% block last_news %}{% endblock %}

{% block main %}
    <div class="nk-gap-2"></div>
    {% include 'catalog/filter/index.html.twig' %}
    <!-- END: Products Filter -->
    <div class="nk-gap-2"></div>
    <!-- START: Products -->
    <div class="row vertical-gap">
        {% for game in games %}
        {{ g.print_catalog_games(game) }}
        {% endfor %}
    </div>
    <!-- END: Products -->
{% endblock %}